---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="All about me"
	pubDate={new Date('Nov 11 2024')}
>
	<p>
    I am a Software Engineer with 2.5 years of experience building proprietary 
    quantitative trading infrastructure. 
    My professional stack focuses on .NET desktop applications and distributed systems
    using C# and SQL, though I also work with C++ libraries and Python scripting. Beyond
    work, I pursue many low-level and high-performance projects in the realm of scientific
    simulation and rendering. There are no bounds to the technologies I want to explore, but I
    am especially drawn toward parallel computing and systems programming. Recently I have been
    writing a lot of Rust.
	</p>

	<p>
    Since I was a young child I have been fascinated with computers (especially videogames).
    In highschool I taught myself Java to program Minecraft mods, and learned to hack Mario Kart Wii
    with memory injections. Sorry to any victims who encountered me in online lobbies. I grew up in the
    suburbs of Chicago, and have lived in the city since college.
	</p>

	<p>
  Learning is my favorite hobby: I love physics, biology, and AI.
  I make some time for videogames, but if I'm on the computer it's probably coding.
  Recently I have been biking a lot, but as Chicago winter rolls in
  I will probably resort to indoor bouldering.
	</p>
</Layout>
