---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Optimizing Everything</h1>
			<p>
        Hi, I'm Tyler. Welcome to my blog where I'll detail my journeys building interesting
        projects and solving difficult problems. Optimization is my obsession, so if you're
        interested in crafting efficient algorithms, accurate simulations, and fast code,
        you're at the right place.
      </p>
		</main>
		<Footer />
	</body>
</html>
