---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Immature Optimization</h1>
			<p>
      A young engineer writing about high-performance computing and algorithms.
      Optimization is my obsession and I am always learning, so here I'll share my
      findings and journeys through interesting projects. If you're interested in
      joining me on my pursuit to craft accurate simulations, fast code, or
      cool patterns, come read!
      </p>
		</main>
		<Footer />
	</body>
</html>
